---

# Variables
stub : "index"

---

-# Bootstrap container
.container

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-12.text-center

            = codeBlender "heading", "molecule", { text: "Kit list" }
            = codeBlender "heading", "molecule", { tag: "h2", text: "Manage your gear, maximise your performance" }
            %br
            %br
            = codeBlender "heading", "molecule", { tag: "h3", text: "Coming soon..." }
            = codeBlender "heading", "molecule", { tag: "h3", text: "Kit List is an online sports kit management service being developed for athletes by athletes" }
            %br
            %br
            = codeBlender "heading", "molecule", { tag: "h3", text: "Want to know more? Sign up to our mailing list to keep updated" }
            %a{ href:"mailto:info@kit-list.co.uk"}
                = codeBlender "heading", "molecule", { tag: "h3", text: "info@kit-list.co.uk" }
